@font-face {
    font-family: 'comic-sans';
    src: url('./assets//fonts//comici.ttf');
}

@font-face {
    font-family: 'Comic Sans MS';
         src: url('./assets/fonts/comicz.ttf');
}

.bold {
    font-family: 'Comic Sans MS' !important;
    font-weight: bold;
}

body {
    font-family: 'comic-sans' !important;
    overflow-x: hidden;
}

.btn-stylish{
     background: url('/assets/imgs/btn.png');
     background-repeat: no-repeat;
     background-size: 100% 100%;
}